
@model WebApplication2.Models.User
<address>
    <form method="post"  action="/Home/Dataab">
        <div class="d-flex flex-row align-items-center mb-4">
           
            <i class="fas fa-user fa-lg me-3 fa-fw"></i>
            <div class="form-outline flex-fill mb-0">
                <input type="text" id="form3Example1c" name="Id" asp-for="Id" class="form-control" />
                <label class="form-label" for="form3Example1c">Your Name</label>
            </div>
        </div>
    <div class="d-flex flex-row align-items-center mb-4">
        <i class="fas fa-user fa-lg me-3 fa-fw"></i>
        <div class="form-outline flex-fill mb-0">
            <input type="text" id="form3Example1c" asp-for="name"  class="form-control" />
            <label class="form-label" for="form3Example1c">Your Name</label>
        </div>
    </div>

    <div class="d-flex flex-row align-items-center mb-4">
        <i class="fas fa-envelope fa-lg me-3 fa-fw"></i>
        <div class="form-outline flex-fill mb-0">
            <input type="email" id="form3Example3c" asp-for="email" class="form-control" />
            <label class="form-label" for="form3Example3c">Your Email</label>
        </div>
    </div>

    <div class="d-flex flex-row align-items-center mb-4">
        <i class="fas fa-lock fa-lg me-3 fa-fw"></i>
        <div class="form-outline flex-fill mb-0">
            <input type="text" id="form3Example4c" asp-for="password" class="form-control" />
            <label class="form-label" for="form3Example4c">Password</label>
        </div>
    </div>

    <div class="d-flex flex-row align-items-center mb-4">
        <i class="fas fa-key fa-lg me-3 fa-fw"></i>
        <div class="form-outline flex-fill mb-0">
            <input type="text" id="form3Example4cd" asp-for="cpassword" class="form-control" />
            <label class="form-label" for="form3Example4cd">Repeat your password</label>
        </div>
    </div>
    






    <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
        <input type="submit" value="submit"class="btn btn-primary btn-lg" />
    </div>

</form>

</address>
